/* @import 'antd/dist/reset.css'; */
@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --minwidth: 1100px;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.mw {
  width: var(--minwidth);
  margin: 0 auto;
}

.ch {
  height: calc(100vh - 64px);
}
/* 超过一行内容多的变成... */
.dian1 {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

/* 超过两行行内容多的变成... */
.dian2 {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* 超过三行内容多的变成... */
.dian3 {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.clearfix::after {
  visibility: hidden;
  clear: both;
  display: block;
  content: '';
  height: 0;
}
